.category-container {
  background-color: var(--light-bg);
  // box-shadow:  0.3px 17.5px var(--shadow), -10px 1.6px 3.6px var(--shadow) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7em;
  padding: 0.6em 1em;
  min-width: 10em;

  .categoryIteam-container {
    background-color: var(--light-bg);
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .category-label {
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      font-size: 1.1em;

      &:first-child {
        font-weight: 600;
      }
      &:last-child {
        font-weight: 500;
      }
    }
  }

  .active-iteam,
  .active-iteam div,
  .active-iteam div > * {
    background-color: $primary-color !important;
    border: none !important;
  }

  .active-iteam {
    div {

      .icon, span {
        color: white !important;

      }
    }
  }

  .categoryIteam {
    background-color: var(--light-bg);
    display: inherit;
    justify-content: center;
    border: 0.05em solid $light-border;
    border-radius: 0.5em;
    padding: 0.3em;
    width: calc(100vw / 3);
    box-shadow: 0 0 5px var(--shadow);

    div > * {
      background-color: var(--light-bg);
    }

    div {
      background-color: var(--light-bg);
      display: flex;
      align-items: center;
      gap: 0.5em;

      .icon {
        color: $primary-color;
        scale: 0.9;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) {
  .category-container {
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 20em;

    .category-label {
      display: none;
    }

    .categoryIteam-container {
      display: initial;
      margin-top: 2em;
      // background-color: white;
      div {
        .icon {
          color: $primary-color;
        }
      }
    }

    .categoryIteam {
      // border: none;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 1em;
      padding: 0.5em 1em;
    }
  }
}

@media only screen and (min-width: 993px) {
}
