@import "./../../style/variable";

.home {

  .task-container-label {
    margin: 1em 0em 0.5em 0em;
  }

  .category-label {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 1.1em;

      &:first-child {
        font-weight: 600;
      }
      &:last-child {
        color: $light-grey;
      }
    }
  }

  .category-container {
    display: flex;
    gap: 1.2em;

    .icon {
      color: $dark-green;
      scale: 0.8;
    }

    div {
      display: inline-flex;
      align-items: center;
      width: calc((100%) / 3);
      justify-content: center;
      gap: 0.2em;
      border: 0.05em solid $light-grey;
      border-radius: 0.5em;
      padding: 0.3em;
      margin-top: 0.2em;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }

  p {
    font-weight: 600;
    font-size: 1.1em;
  }

  .task {
    height: 5em;
    display: flex;
    margin-top: 0.6em;
    justify-content: space-between;
    align-items: center;
    border: 0.05em solid $light-grey;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0.9em;
    border-radius: 0.8em;

    .task-item {
      display: flex;
      gap: 1.3em;

      input {
        width: 1.3em;
      }

      div {
        .icon {
          color: $light-grey;
          font-size: 1.4em;
        }

        p {
          display: flex;
          align-items: center;
          gap: 0.5em;

          .dot-icon {
            width: 0.4em;
            margin: 0 0.5em;
          }

          &:first-child {
            color: $dark-green;
            font-weight: 500;
            font-size: 1.1em;
          }

          &:last-child {
            margin-top: 0.5em;
            font-size: 0.7em;
            color: $light-grey;
            font-weight: 300;
          }
        }
      }
    }

    .priority-flag {
      color: $light-green;
    }

    span:first-child {
      font-weight: 600;
      font-size: 1.1em;
    }
  }
  .completed-task,
  .completed-task > * {
    background-color: $light-bg;
    p {
      background-color: $light-bg;
    }
  }

  .completed-task {
    border: 0.05em solid $light-border;

    .task-item {
      div {
        p {
          &:first-child {
            text-decoration: line-through;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}
