@import "./../../style/variable";

.home {
  .task-container-label {
    margin: 1em 0em 0.5em 0em;
  }

  .shadow{
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .category-label {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 1.1em;

      &:first-child {
        font-weight: 600;
      }
      &:last-child {
        color: $light-grey;
      }
    }
  }

  .category-container {
    display: flex;
    gap: 1.2em;

    .icon {
      color: $dark-green;
      scale: 0.8;
    }

    div {
      display: inline-flex;
      align-items: center;
      width: calc((100%) / 3);
      justify-content: center;
      gap: 0.2em;
      border: 0.05em solid $light-grey;
      border-radius: 0.5em;
      padding: 0.3em;
      margin-top: 0.2em;
      // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .todo-container {
    margin-top: 1.5em;
    overflow-y: scroll;  

    &::-webkit-scrollbar {
      width: 0;  
    }
    height: calc(100vh - 3em - 4.5em - 1.2em - 45.6px - 38.4px - 1em);
  }

  .task {
    touch-action: none;
    height: 5em;
    display: flex;
    margin-top: 0.6em;
    justify-content: space-between;
    align-items: center;
    border: 0.05em solid $light-grey;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0.9em;
    border-radius: 0.8em;

    .task-item {
      display: flex;
      gap: 1.3em;

      input {
        width: 1.3em;
      }

      div {
        .icon {
          color: $light-grey;
          font-size: 1.4em;
        }

        p {
          display: flex;
          align-items: center;
          gap: 0.5em;

          .dot-icon {
            width: 0.4em;
            margin: 0 0.1em;
          }

          &:first-child {
            color: $dark-green;
            font-weight: 500;
            font-size: 1.1em;
          }

          &:last-child {
            margin-top: 0.5em;
            font-size: 0.7em;
            color: $light-grey;
            font-weight: 300;
          }
        }
      }
    }

    .priority-high {
      color: $light-red;
    }
    .priority-low {
      color: $light-yellow;
    }
    .priority-medium {
      color: $light-green;
    }

    span:first-child {
      font-weight: 600;
      font-size: 1.1em;
    }
  }
  .completed-task,
  .completed-task > * {
    background-color: $light-bg;
    p {
      background-color: $light-bg;
    }
  }

  .completed-task {
    border: 0.05em solid $light-border;

    .task-item {
      div {
        p {
          &:first-child {
            text-decoration: line-through;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  .footer {
    background-color: $white;

    div {
      display: flex;
      align-items: center;
    }

    .save-btn {
      width: 7em;
    }

    .suggestion-btn,
    .add-btn {
      width: calc((100vw - 3em) / 2);
    }

    .icon {
      width: 1.5em;
      height: 1.5em;
    }

    .suggestion-btn {
      color: $dark-green;
      background-color: $white;

      border: 0.1em solid $light-grey;

      p,
      .icon {
        color: $dark-green;
        background-color: $white;
        font-weight: 400 !important;
      }
    }

    .add-btn,
    .add-btn > * {
      background-color: $dark-green;
      color: $white;
    }
  }
}
