@import "./../../style/variable";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;

  div {
    display: flex;
    gap: 0.5em;
  }

  .checklist-icon {
    margin-left: 0.3em;
    background-color: $dark-green;
    width: 1.4rem;
    height: 1.4rem;
    padding: 0.15rem;
    border-radius: 0.4rem;
    color: $white;
  }

  .edit-icon, .delete-icon{
    scale: 1.1;
    // color: $dark-green;
  }

  .user-icon {
    color: $dark-green;
    scale: 1.5;
  }

  .brand-text {
    font-weight: 600;
    font-size: 1.2em;
  }

  .searchBox{
    border: 0.1em solid black;
    padding: 0.3em 0.7em;
    border-radius: 0.5em;
    width: 8em;
  }

  
}
