@import "./variable";

* {
  background-color: $white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-lato;
  box-sizing: border-box;
}

#root {
  margin: 0.6em 1.2em;
}

a,
a > * {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

.icon {
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.addTask{
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 4.5em;
  font-weight: 400 !important;
  width: 100%;

  display: flex !important;
  justify-content: center !important;
  align-items: center;
}


@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) {
  .main-container {
    flex-direction: row;

    .category-container {
      width: 25%;
    }

    .home {
      width: 50%;
    }

    .addTask {
      min-width: 25%;
    }
  }

  .arrow-icon{
    display: none !important;
  }

  .add-btn {
    display: none !important;
  }

  .footer {

  }
}

@media only screen and (min-width: 993px) {
}
