@import "./variable";

* {
  background-color: $white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-lato;
  box-sizing: border-box;
}

#root {
  margin: 0.6em 1.2em;
}

a,
a > * {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

.icon {
  padding: 0;
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
  font-weight: 500;
  width: fit-content;
  padding: 0.5em 1em;
  height: 3em;
  border-radius: 0.6em;
  background-color: $dark-green;

  p,
  .icon {
    background-color: $dark-green;
    color: $white;
    font-size: 1.1em;
  }
}


.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  height: 4.5em;
  font-weight: 400 !important;
}



@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
}

@media only screen and (min-width: 993px) {
  .home{
    width: 60%;
    margin: auto;
    // border: 1px solid $light-grey;
    height: 100vh;
    padding: 0 1.5em;
    box-shadow: rgba(17, 17, 26, 0.1) -1px 0px 13px 3px inset, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
  }
}
