@import "./variable";

* {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-lato;
  box-sizing: border-box;
}

body {
  color: var(--text);
}

#root {
  // margin: 0.6em 1.2em;
}

a,
a > * {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

.icon {
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4em);
  margin-top: 3em;
}

.addTask {
  position: relative;
}

.footer {
  position: absolute;
  height: 4.5em;
  font-weight: 400 !important;
  width: 100%;

  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) {
  .main-container {
    flex-direction: row;

    .home {
      width: 100%;

      
    }
  }

  .addTask {
    margin-top: 0em;
    width: 35em;
    box-shadow: 0px 0.3px 17.5px var(--shadow), 0px 1.6px 3.6px var(--shadow);

    
  }

  .add-btn {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
}
