@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


$light-orange: #fda015;
$white: #faf9f8;
$red: #d14c4c;
$green: #61d241;
$dark-grey: #262626;
$light-grey: #5f5f5f;
$dark-green: #19a975;
$light-green: #bae5d6;
$light-bg: #eeeeee;
$light-red: #ff9c9c;
$light-yellow: #ffc94b;

$bg-color: #fbfbfb;
$light-border: #cacaca;
$primary-color: #19a975;


$font-lato: "Lato", sans-serif;
