@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


// $light-orange: #fda015;
// $white: #faf9f8;
// $red: #d14c4c;
// $green: #61d241;
// $dark-grey: #262626;
// $light-grey: #5f5f5f;
// $dark-green: #19a975;
// $light-green: #bae5d6;
// $light-bg: #eeeeee;
// $light-red: #ff9c9c;
// $light-yellow: #ffc94b;

// $bg-color: #fbfbfb;
// $light-border: #cacaca;




$primary-color: #3e69e4;

$primary-background-light: #faf9f8;  
$secondary-background-light: #ffffff;
$iteam-active-light: #eff6fc;
$primary-text-light: #292827;
$secondary-text-light: #605E5C;

$primary-background: #11100f;  
$secondary-background: #252423;
$iteam-active: #3b3a39;
$primary-text: white;
$secondary-text: #A19F9D;


$font-lato: "Lato", sans-serif;
