@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$light-orange: #FDA015;
$red : #D14C4C;
$green : #61D241;
$dark-grey : #262626;
$light-grey : #5F5F5F;
$white : #FBFBFB;
$dark-green : #19A975;
$light-green : #BAE5D6;
// $ : #F4FBF8;

$font-lato: 'Lato', sans-serif
// font-family: 'Lato', sans-serif
