@import "./../../style/variable";

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;

    div{
        display: flex;
        align-items: center;
    }

    .icon{
        width: 1.5em;
        height: 1.5em;
    }

    .suggestion-btn{
        color: $dark-green;
    }

    .add-btn, .add-btn > *{
        background-color: $dark-green;
        color: $white;
    }
}